*
{
    margin: 0;
    padding: 0;
}
  /*---------------HEADER--------------- */

header
{  background-color: white;
    padding-bottom:40px;
}

header img, #forsideheader img /*LOGO*/
{ 
    position: absolute;
    left: 0; 
    width: 8%;
}

#navLaptop, header nav a
{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3vw;
}


  /* ----------Dropdown---------- */

  .dropbtn
  {
    color: black;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  } 
  .dropdown
{
    padding-top: 5vh;
    display: inline-block;
    text-align: center;

}
  
  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color:white

}
  
  .dropdown-content a {    
    text-decoration: none;
    display: block;
    font-size: 1.5vw;
    padding: 2vh 2.5vh;
}
  
  .dropdown-content a:hover
{
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
  
.dropdown:hover .dropdown-content {
    display: block; 
}
  
  .dropdown:hover .dropbtn, header nav a:hover{ 
    text-decoration: underline;
}

  /*-----------------OM MEDOVA---MEDOVA TE------------------------------------------------------------------------------- */

main
{
    background-color: #EAE1D9;
    padding-left: 80px;
    padding-right: 80px;
}

main h1
{   padding-top: 60px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:1000;
    font-size: 6vw;
    text-transform: uppercase;
    color: black;
}

main h2
{   
    padding-top: -100px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: black;
    font-weight: lighter;
}

.flexcontainer div
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;


}

.flexcontainer p
{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    width: 45%;
   max-height: 400px;
   line-height: 40px;


}
.flexcontainer div div
{width: 5%;}

.flexcontainer img
{
width: 50%;
height: 400px;}

#indhold
{text-align: left;}

#tal
{text-align: right;}
 
#naering 
{
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: center;
width: 450px;
height: 200px;
margin-left: auto;
margin-right: auto;
background-color:#e1d2bb;
}

#naeringoverskrift
{
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Orienta', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;


}
#naering p
{
  
  font-size: 1.7vw;
  font-family: 'Orienta', sans-serif;
  padding:5px;

}

#formaal p
{
  margin-top: 40px;

  text-align: center;
  font-size: 1.8vw;
  font-family: 'Josefin Sans', sans-serif;
}


#formaal div
{
  padding-top: 20px;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;
}
#formaal img
{
display: block;
margin: auto;
padding:auto;
width:60%;
}


  /*-----------------OM MEDOVA---RELANCERING------------------------------------------------------------------------------- */

  .mindreh1
  {
    font-size: 5vw;
  }

  #istepic
  {
    padding-top: 30px;
    display: block;
    margin: auto;
    padding:auto;
    width: 40%;
    padding-bottom: 30px;

  }

  
  main h3
  {   
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    color: black;
    font-weight: lighter;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.2;
  }

  #refleks 
  {
    display: block;
    margin: auto;
    padding: auto;
    align-content: center;
    width: 70%;
  }

#tekstboks
{
  text-align: center;
  width: 900px;
  margin: auto;
  padding: auto;
  margin-top: -70px;
}

#tekstboks p
{
  font-size: 1.7vw;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  line-height: 1.6;
}

#kopbillede
{

  width: 80%;
  display: block;
    margin: auto;
    padding: auto;
    padding-bottom: 60px;

}

  /*-----------------HJEMMELAVET ISTE------------------------------------------------------------------------------- */

#isteingrediens
{
  text-align: center;
  margin: auto;
  padding: auto;
  width: 590px;
  background-color:#e1d2bb;
}

#isteingrediens h1
{
  padding-top: -10px;
  font-size: 3vw;
  font-weight: bold;
}

#isteingrediens ul
{
  list-style-position: inside;
  text-align: left;
  justify-content: center;

}
#isteingrediens div
{
  display: flex;
  justify-content: center;
}
#isteingrediens h2
{
  font-size: 1.5vw;
}
/*------FOOTER---------------*/
footer
{
    margin-top: 10vh;
    margin-bottom:10vh;
    background-color: white;
    text-align: center;

}
footer a
{
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Dosis', sans-serif;
    color: black;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    line-height: 8vh;
}
/*--------------------*/

