*
{
    margin: 0;
    padding: 0;
}
  /*----------HEADER---------- */

header
{    padding-top:10px;

    background-image: linear-gradient(
        to right,
        #e1d2bb 0%,
        #e1d2bb 50%,
        #c8b496 50%,  
        #c8b496 100%
    );
}

header img /*LOGO*/
{ 
    position: absolute;
    left: 0; 
    width: 8%;
}

#navLaptop, header nav a
{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
  font-family: 'Belleza', sans-serif;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5vw;
}

#navLaptop
{
    padding-left: 65px;
}

  /* ----------Dropdown---------- */

  .dropbtn
  {
    color: black;
    font-family: 'Belleza', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  } 
  .dropdown
{
    padding-top: 5vh;
    display: inline-block;
    text-align: center;

}
  
  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color:white

}
  
  .dropdown-content a {    
    text-decoration: none;
    display: block;
    font-size: 1.5vw;
    padding: 2vh 3vh;
}
  
  .dropdown-content a:hover
{
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
  
.dropdown:hover .dropdown-content {
    display: block; 
}
  
  .dropdown:hover .dropbtn, header nav a:hover{ 
    text-decoration: underline;
}


/*----------MAIN----------------*/
#relancering
{
    background-image: linear-gradient(
        to right,
        #e1d2bb 0%,
        #e1d2bb 50%,
        #c8b496 50%,  
        #c8b496 100%
    );

    text-transform: uppercase;
    color: black;
    font-family: 'Belleza', sans-serif;
    text-align: center;
    padding-bottom: 90px;
}


#relancering img
{
    padding-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#relancering h1
{
    font-size: 5.5vw;
    font-weight: lighter;
    margin-top: -40px;
}
#relancering h2
{
    margin-top: 10px;
    font-size: 4.6vw;
    font-weight: lighter;
    margin-bottom: 50px;
}

#relancering a
{

    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 2.5vw;
    padding: 20px 50px;
    font-family: 'Orienta', sans-serif;
}

#forsidereklame
{
    background-color: white;
    padding-left: 10vh;
    margin-top: 10vh;
    background-image: url(images/sortlogolille.png)no-repeat right; 
    background-size: cover;
    margin-bottom: 10vh;
}
#forsidereklame h1
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.7vw;
    text-transform: uppercase;
    color: black;
    text-align: start;
    font-weight:300;



}

#forsidereklame h2
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:1000;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: black;
    text-align: start;
}
#forsidereklame div
{
    display: flex;
}

#rightlogo
{
    position: relative;
    float:right; 
    transform: rotateY(180deg);
    width: 8%;
    top: -150px;
    
}

#flexdiv
{
    margin-top: 20px;
}
#flexdiv img
{
    width: 50%;
}

#flexdiv p
{
    text-align: center;
    font-size: 2vw;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
 padding: 1px
}

#konkurrence 
{
    text-align: center;

}


video
{
    position: absolute;
    object-fit: cover;
    width: 100%;
}

#videotekst h1{
    color: black;
    font-size: 4vw;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;


}

#videotekst h2{
    color: black;
    font-size: 2vw;
    font-family: 'Josefin Sans', sans-serif;

}

#videotekst a
{
    text-decoration: none;
    display: inline-block;
    color:black;
    font-size: 4vw;
    font-family: 'Orienta', sans-serif;
    border: 2px solid black;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}



footer
{
    margin-top: 50px;
    background-color: white;
    font-size: 4vw;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
}





